/* saved settings notification text */
#save-status {
  color: green;
  font-weight: bold;
  margin-top: 1rem;
}

/* font slider percent */
label[for="fontSizeSlider"] {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
